<html>
<head> <title> Invite for {{event_name}}</title> </head>

<body>

<h3> You have been invited to create your product/campaign at {{event_name}}</h3>
<a href='{{event_url}}'><img src='{{banner}}'/></a>
<a href='{{event_url}}'>Create your Product/Campaign</a>
<center><a href='https://play.google.com/store/apps/details?id=com.wizcard.wizcardapp&hl=en&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img align=middle height=125 width=323 alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a></center>
</body>
</html>
